.cpsLog/
.idea/
data/
output/
__pycache__
*.zip
.env
.DS_Store
*.logs
package/
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/apply.plan

.swp
aws_creds.json
